// FOOTER::START
.footer
  .container
    .row
      .col.col--auto
        .footer__top
          .footer__el.footer__copy 2017, ROCKETBEE
            span (v 1.0 954 билд)
          .footer__company.visible--mobile ООО «Ракетопчела», ИНН 0000000000
          .footer__el.footer__menu 
            a(href='#') О сервисе
            a(href='#') Тарифы
            a(href='#') Оферта
            a(href='#') Блог
            a(href='#') Частые вопросы
          .footer__el.footer__feature
            a(href="#").btn.btn--ghost.btn--h40.btn--ghost--dark
              span Предложить фичу
        
        .footer__bottom
          .footer__company.hidden--mobile ООО «Ракетопчела», ИНН 0000000000
          .footer__socials
            a(href="#")
              i.ico.ico-footer-social.ico-footer-social--youtube
            a(href="#")
              i.ico.ico-footer-social.ico-footer-social--vk
            a(href='#')
              i.ico.ico-footer-social.ico-footer-social--git
          
          .footer__support
            span Тех. поддержка:
              a(href="mailto:support@rocketbee.ru") support@rocketbee.ru
          
          
// SECONDARY STYLES
//build:css css/secondary.css
link(rel="stylesheet" href="css/secondary.css" type="text/css")
//endbuild
              
// SCRIPTS
//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/owl.carousel/dist/owl.carousel.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/libs/jquery.formstyler.js")
script(src="components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js")
script(src="js/main.js")
//endbuild
