// HEADER::START
header.header
  .container.container--fluid
    .row
      .col.col--auto
        .header__wrapper
          a(href="#").header__el.header__logo
            i.ico.ico-logo
          ul.header__el.header__menu
            li
              a(href='#') Службы доставки
            li
              a(href='#') Услуги
            li
              a(href='#') Преимущества
            li
              a(href='#') О сервисе
            li
              a(href='#') API
          .header__el.header__cta
            a(href='#').btn.btn--ghost 
              span ВХОД / РЕГИСТРАЦИЯ
          
          .hamburger.hamburger--spin.visible--desktop.js-toggleMobileMenu
            span.hamburger-box
              span.hamburger-inner

// MOBILE NAVI
.navi-mobile
  .container
    .navi-mobile__wrapper
      ul.navi-mobile__list
        li
          a(href='#') Службы доставки
        li
          a(href='#') Услуги
        li
          a(href='#') Преимущества
        li
          a(href='#') О сервисе
        li
          a(href='#') API
          
      a(href='#').btn.btn--ghost 
        span ВХОД / РЕГИСТРАЦИЯ

        
      
