doctype html
html
  include shared/head.pug

  body
    .app.non-responsive
      
      include shared/header-user.pug
      
      .app__content
        
        // BACKOFFICE HEAD
        .backoffice.section-m-t--smaller
          .container
            .row
              .col.col--auto
                .backoffice__head
                  .backoffice__head__navi
                    a(href='backoffice-shops.html') Магазины
                    a(href='backoffice-calc.html').active Калькулятор
                    a(href='backoffice-settings.html') Настройки
                  
                  .backoffice__head__details
                    .backoffice__head__price
                      span баланс:
                      span 1280 ₽
                    a(href='#').btn.btn--primary 
                      span ПОПОЛНИТЬ
                  
        // CALCULATOR
        .calculator.section-m-t.section-m-t--small
          .container.container--0-mobile
            .calculator__wrapper
              // new class here
              .row.backoffice__calc
                .col.col--4-6
                  .calculator__head
                    h3.h3-title Калькулятор доставки
                    .calculator__location-input
                      .ui-row.ui-row--collapse.ui-row--location
                        .ui-group
                          label откуда:
                          select.js-styler__select(data-search='true')
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург
                            option() Санкт-питербург

                        i.ico.ico-arrow-right.mt45
                        .ui-group
                          label откуда:
                          .ui-select.ui-select--autocompleate
                            input(type="text" placeholder='введите город...').js-cityToCompleate

                  .calculator__inputs
                
                    .ui-row.ui-row--inline
                      .ui-group
                        label вес<span>, кг</span>:
                        .ui-input.ui-input--short
                          input(type="text")
                          .ui-input__placeholder кг
                      .ui-group
                        label габариты<span>, см</span>:
                        .ui-input-collection
                          .ui-input.ui-input--short
                            input(type="text" value='1500')
                          .ui-input.ui-input--short
                            input(type="text" value='1500')
                          .ui-input.ui-input--short
                            input(type="text" value='1500')      
                        .ui-input__placeholder см
                        .ui-group__validation
                          i.ico.ico-warn
                          span негабаритный груз
                          
                    // checkboxes
                    .ui-group
                      label дополнительные опции:
                      .row.row--column--mobile
                        .col.col--3-6
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_1")
                            label(for="checkbox_1") 
                              span Возможность примерки
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_2" checked)
                            label(for="checkbox_2") 
                              span Наложенный платеж
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_3")
                            label(for="checkbox_3") 
                              span Дороже 15 тыс. рублей

                        .col.col--3-6
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_4" checked)
                            label(for="checkbox_4") 
                              span Доставка до дверей
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_5" checked)
                            label(for="checkbox_5") 
                              span Оплата банковской картой

                  // calc cta
                  .calculator__cta
                    a(href='#').btn.btn--primary.btn--h40 
                      span Рассчитать
                    .calculator__cta__clear
                      span или
                      a(href="#") очистить
                  
                .col.col--2-6
                  .backoffice__calc__templates
                    label шаблоны отправлений
                    .backoffice__calc__templates__list
                      a(href="#")
                        span Сноуборд
                        i.ico.ico-remove
                      a(href="#")
                        span Лыжи
                        i.ico.ico-remove
                      a(href="#")
                        span Скейт
                        i.ico.ico-remove
                      a(href="#")
                        span Сноуборд. ботинки
                        i.ico.ico-remove
                      a(href="#")
                        span Кеды
                        i.ico.ico-remove
                        
                      a(href="#").calculator__inputs__templates__new
                        i.ico.ico-plus-btn
                        span.ml10 Создать шаблон


      
            // calc results
            .calculator__results__head.mt40
              .bold.ml20 Вот, что нам удалось найти:
              
            .table-calc
                .table-calc__row.table-calc__row--head
                  .table-calc__col
                    span Транспортная компания
                    i.ico.ico-toggle
                  .table-calc__col
                    .t-vertical 
                      span ПВЗ
                  .table-calc__col
                    .t-vertical 
                      span ПРИМЕРКА
                  .table-calc__col
                    .t-vertical 
                      span НП
                  .table-calc__col
                    .t-vertical 
                      span 
                        | >15К     
                  .table-calc__col
                    .t-vertical 
                      span ДО ДВЕРИ
                  .table-calc__col
                    .t-vertical 
                      span КАРТОЙ
                  .table-calc__col сроки
                  .table-calc__col цена
                // DATA
                a(href='#').table-calc__row
                  .table-calc__col
                    img(src='images/resultsCard_ruspost.png')
                    span.table-calc__col__dash Почта России
                    span.fz10.ml10 ОТПРАВЛЕНИЕ ПЕРВОГО КЛАССА
                  .table-calc__col 256
                  .table-calc__col
                    i.ico.ico-status.ico-status--green.ico-status--small
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green.ico-status--small   
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col 2—5 д.
                  .table-calc__col 150 Р
                  i.ico.ico-table-next
                    
                //row
                a(href='#').table-calc__row
                  .table-calc__col
                    img(src='images/resultsCard_inpost.png')
                    span.table-calc__col__dash InPost
                    span.fz10.ml10 ДОСТАВКА МАЛОГАБАРИТНЫХ ГРУЗОВ
                  .table-calc__col 256
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green.ico-status--small   
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray
                  .table-calc__col 2—5 д.
                  .table-calc__col 150 Р
                  i.ico.ico-table-next
                    
                //row
                a(href='#').table-calc__row
                  .table-calc__col
                    img(src='images/resultsCard_ems.png')
                    span.table-calc__col__dash EMS Почта России
                  .table-calc__col 256
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small   
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col 2—5 д.
                  .table-calc__col 150 Р
                  i.ico.ico-table-next

                //row
                a(href='#').table-calc__row
                  .table-calc__col
                    img(src='images/resultsCard_dpd.png')
                    span.table-calc__col__dash DPD
                  .table-calc__col 256
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small   
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col 2—5 д.
                  .table-calc__col 150 Р    
                  i.ico.ico-table-next
                                         
                //row
                a(href='#').table-calc__row
                  .table-calc__col
                    img(src='images/resultsCard_hermes.png')
                    span.table-calc__col__dash Hermes
                  .table-calc__col 256
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--gray.ico-status--small   
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col
                    i.ico.ico-status.ico-status--green
                  .table-calc__col 2—5 д.
                  .table-calc__col 150 Р
                  i.ico.ico-table-next
                    
      include shared/footer.pug
