doctype html
html
  include shared/head.pug

  body
    .app
      
      include shared/header.pug
      
      .app__content
      
        // INFO::START
        .info.info--mega-pad
          .container
            .row.row--column-rev--tablet
              .col.col--4-6 
                h1.info__title Отправка заказов? Легко!
                .info__subtitle Доставляйте заказы вашим клиентам любыми удобными для них способами
                .section-text.info__short Мы помогаем организовать работу с курьерскими службами, пунктами выдачи заказов, постоматами и транспортными компаниями. Мы максимально упростим весь цикл обработки заказа от расчета стоимости до отслеживания вручения клиенту.
              .col.col--2-6
                .info__picture.info__picture--absolute
                  i.ico.ico-info-hero-abstract-1
                    
        // HOT LINKS:: START
        .hot-links
          .container
            .row
              .col.col--auto
                .hot-links__wrapper
                  a(href="#").hot-links__card
                    i.ico.ico-hot-calc
                    .hot-links__card__title Расчет стоимости <br> отправки
                  a(href="#").hot-links__card
                    i.ico.ico-hot-forms
                    .hot-links__card__title Заполнение бланков <br> и документов
                  a(href="#").hot-links__card
                    i.ico.ico-hot-search
                    .hot-links__card__title Отслеживание <br> отправлений
                  a(href="#").hot-links__card
                    i.ico.ico-hot-agregate
                    .hot-links__card__label СКОРО
                    .hot-links__card__title Агрегация служб <br> доставки
                    
        // NEWS
        .news.section-m-t
          .container
            .row
              .col.col--auto
                .section-heading
                  h3.h3-title Новости сервиса
                  a(href='#').visible--tablet Все новости
                
            .owl-carousel#owlNews
              a(href="#").news__card
                .news__card__image
                  img(src="images/newsCard_1.png")
                .news__card__content
                  .news__card__date 10 февраля
                  .news__card__title Мы подключили Деловые Линии, ЖелДорЭкспедицию и DHL
              a(href="#").news__card
                .news__card__image
                  img(src="images/newsCard_2.png")
                .news__card__content
                  .news__card__date 28 января
                  .news__card__title Миграция на RocketAPI v 2.0  
              a(href="#").news__card
                .news__card__image
                  img(src="images/newsCard_3.png")
                .news__card__content
                  .news__card__date 15 января
                  .news__card__title Неполадки устранены, работаем дальше
                      
              
            .row.row--jcc.hidden--tablet
              .col.col--auto.text-center
                a(href='#').btn.btn--ghost.btn--ghost--gray
                  span Все новости
        
        // CALCULATOR
        .calculator.section-m-t.section-m-t--smaller
          .container.container--0-mobile
            .calculator__wrapper
              .calculator__head.text-center
                h2.h2-title Мы учли все нюансы доставки
                .section-text EMS не берет грузы длиннее 150 см, коробка с роликами не влезет в ячейку постомата, Hermes не даст примерить кеды перед оплатой — мы знаем все нюансы служб доставки и подскажем их вам.
                .calculator__location-input
                  .ui-row.ui-row--collapse.ui-row--location
                    .ui-group
                      label откуда:
                      select.js-styler__select(data-search='true')
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                    i.ico.ico-arrow-right.mt45
                    .ui-group
                      label куда:
                      select.js-styler__select(data-search='true')
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                        option() Санкт-питербург
                          
              .calculator__inputs
                .row.row--column--tablet
                  .col.col--4-6
                    .ui-row.ui-row--inline
                      .ui-group
                        label вес<span>, кг</span>:
                        .ui-input.ui-input--short
                          input(type="text")
                          .ui-input__placeholder кг
                      .ui-group
                        label габариты<span>, см</span>:
                        .ui-input-collection
                          .ui-input.ui-input--short
                            input(type="text" value='1500')
                          .ui-input.ui-input--short
                            input(type="text" value='1500')
                          .ui-input.ui-input--short
                            input(type="text" value='1500')      
                        .ui-input__placeholder см
                        .ui-group__validation
                          i.ico.ico-warn
                          span негабаритный груз
                          
                    // checkboxes
                    .ui-group
                      label дополнительные опции:
                      .row.row--column--mobile
                        .col.col--3-6
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_1")
                            label(for="checkbox_1") 
                              span Возможность примерки
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_2" checked)
                            label(for="checkbox_2") 
                              span Наложенный платеж
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_3")
                            label(for="checkbox_3") 
                              span Дороже 15 тыс. рублей

                        .col.col--3-6
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_4" checked)
                            label(for="checkbox_4") 
                              span Доставка до дверей
                          .ui-checkbox
                            input(type="checkbox" name="checkbox" id="checkbox_5" checked)
                            label(for="checkbox_5") 
                              span Оплата банковской картой

                  .col.col--2-6
                    .ui-group.border-top--tablet
                      label шаблоны отправлений:
                    .calculator__inputs__templates
                      a(href="#")
                        i.ico.ico-template-snowboard
                        span Крупный спорт-инвентарь
                      a(href="#")
                        i.ico.ico-template-shoe
                        span Одежда и обувь
                      a(href="#")
                        i.ico.ico-template-smartphone
                        span Электроника
                      a(href="#").calculator__inputs__templates__new
                        i.ico.ico-template-plus
                        span Создать свой шаблон
                      
              // calc cta
              .calculator__cta
                a(href='#').btn.btn--primary.btn--h40 
                  span Рассчитать
                .calculator__cta__clear
                  span или
                  a(href="#") очистить
              
              // calc results
              .calculator__results
                .calculator__results__head
                  h3.h3-title Вот, что нам удалось найти:
                  .calculator__results__filters
                    span сортировка по:
                    .calculator__results__filter(data-filter="price").active цене
                    .calculator__results__filter(data-filter="time") сроку
                    .calculator__results__filter(data-filter="rate") рейтингу
                
                .calculator__results__row
                  // card
                  .calculator__results__card
                    .calculator__results__card__image
                      img(src="images/resultsCard_ruspost.png")
                    .calculator__results__card__title ОТПРАВЛЕНИЕ ПЕРВОГО КЛАССА
                    
                    .calculator__results__card__content
                      .calculator__results__card__price
                        .calculator__results__card__mainprice 150 Р
                        .calculator__results__card__deliverable 2—5 дней
                      .calculator__results__card__features
                        span + Наложенный платеж
                        span + Дороже 15 тыс. рублей
                      .calculator__results__card__points
                        i.ico.ico-location
                        span 256 пунктов выдачи
                      a(href='#').btn.btn--ghost.btn--block 
                        span ПОДГОТОВИТЬ ДОКУМЕНТЫ
                  // card
                  .calculator__results__card
                    .calculator__results__card__image
                      img(src="images/resultsCard_ems.png")
                    .calculator__results__card__title ДОСТАВКА МАЛОГАБАРИТНЫХ ГРУЗОВ
                    
                    .calculator__results__card__content
                      .calculator__results__card__price
                        .calculator__results__card__mainprice 250 Р
                        .calculator__results__card__deliverable 1—2 дней
                      .calculator__results__card__features
                        span + Наложенный платеж
                        span + Дороже 15 тыс. рублей
                      .calculator__results__card__points
                        i.ico.ico-location
                        span 256 пунктов выдачи
                      a(href='#').btn.btn--ghost.btn--block
                        span ПОДГОТОВИТЬ ДОКУМЕНТЫ
                  // card
                  .calculator__results__card
                    .calculator__results__card__image
                      img(src="images/resultsCard_inpost.png")
                    .calculator__results__card__title ОТПРАВЛЕНИЕ ПЕРВОГО КЛАССА
                    
                    .calculator__results__card__content
                      .calculator__results__card__price
                        .calculator__results__card__mainprice 220 Р
                        .calculator__results__card__deliverable 3 дня
                      .calculator__results__card__features
                        span + Наложенный платеж
                        span + Дороже 15 тыс. рублей
                      .calculator__results__card__points
                        i.ico.ico-location
                        span 256 пунктов выдачи
                      a(href='#').btn.btn--ghost.btn--block
                        span ПОДГОТОВИТЬ ДОКУМЕНТЫ
                  // card
                  .calculator__results__card
                    .calculator__results__card__image
                      img(src="images/resultsCard_dpd.png")
                    .calculator__results__card__title ОТПРАВЛЕНИЕ ПЕРВОГО КЛАССА
                    
                    .calculator__results__card__content
                      .calculator__results__card__price
                        .calculator__results__card__mainprice 230 Р
                        .calculator__results__card__deliverable 5 дней
                      .calculator__results__card__features
                        span + Наложенный платеж
                        span + Дороже 15 тыс. рублей
                      .calculator__results__card__points
                        i.ico.ico-location
                        span 256 пунктов выдачи
                      a(href='#' disabled).btn.btn--ghost.btn--block
                        span ПОДГОТОВИТЬ ДОКУМЕНТЫ
                
        // FEATURES
        .features.section-m-t
          .container
            .text-center
              h2.h2-title Бесплатные функции
              .section-text Всем интернет-магазинам мы предоставляем возможность автоматизировать отправку заказов. В личном кабинете доступны:
            
            .row.row--wrap
              .col.col--2-6.col--3-6--tablet
                .features__card
                  .blot.blot--one
                    i.ico.ico-feature-calc-btns
                  .features__card__title Расчет стоимости отправки
              .col.col--2-6.col--3-6--tablet
                .features__card
                  .blot.blot--two
                    i.ico.ico-feature-forms-bars
                  .features__card__title Шаблоны отправлений для быстрой подготовки документов
              .col.col--2-6.col--3-6--tablet
                .features__card
                  .blot.blot--one
                    i.ico.ico-feature-form-print
                  .features__card__title Формирование документов для отправки через любые ТК
              // next row - wrapped
              .col.col--2-6.col--3-6--tablet
                .features__card
                  .blot.blot--three
                    i.ico.ico-feature-map-track
                  .features__card__title Отслеживание отправлений
              .col.col--2-6.col--3-6--tablet
                .features__card
                  .blot.blot--three
                    i.ico.ico-feature-ico-export
                  .features__card__title Шаблоны отправлений для быстрой подготовки документов
              .col.col--2-6.col--3-6--tablet
                .features__card.features__card--request
                  i.ico.ico-plus-big
                  .features__card__title Мы команда молодых профессионалов и у нас можно <a href="#">попросить фичу</a>
                  
        // API
        .api.section-m-t
          .container
            .text-center
              h2.h2-title Получите больше функций через API
              .section-text Доверьте нам то, что не хотите делать сами. От рассчета стоимости доставки на вашем сайте до печати полного комплекта документов. Выбирайте и подключайте сами необходимые вам функции
              
            .row.row--stetch-child
              // card
              .api__card
                .api__card__image
                  img(src="images/apiCard_1.png")
                  .api__card__tags
                    .api__card__tag API
                    .api__card__tag.api__card__tag--blue виджет
                .api__card__content
                  .api__card__title Расчет стоимости <br> отправки
                  .api__card__description Клиенты вашего интернет магазина смогут узнавать стоимость доставки во время оформления заказ с помощью настраиваемого виджета или непосредственно на сайте c подключенным API
                  .api__card__price 2 Р/запрос
                  a(href="#").btn.btn--ghost.btn--block.btn--h40 
                    span Регистрация
                      
              // card
              .api__card
                .api__card__image
                  img(src="images/apiCard_2.png")
                  .api__card__tags
                    .api__card__tag API
                .api__card__content
                  .api__card__title Подготовка документов для транспортных компаний
                  .api__card__description
                    ul.list-line
                      li проверку корректности вводимых адресов и индексов
                      li формирование документов для отправки через любые ТК
                  .api__card__price 8 Р/заказ
                  a(href="#").btn.btn--ghost.btn--block.btn--h40 
                    span Регистрация
              
              // card
              .api__card
                .api__card__image
                  img(src="images/apiCard_3.png")
                  .api__card__tags
                    .api__card__tag API
                .api__card__content
                  .api__card__title Полная автоматизация логистических процессов
                  .api__card__description
                    ul.list-line
                      li проверку корректности вводимых адресов и индексов
                      li забор отправлений
                      li печать документов для отправки через любые ТК
                      li физическая передача заказов в ТК
                      li работа как по собственному, так и по единому договору с ТК
                  .api__card__price 20 Р/заказ
                  a(href="#").btn.btn--ghost.btn--block.btn--h40 
                    span Регистрация
            
            .text-center.mt30.mt20--tablet
              a(href="#").btn.btn--primary 
                span СМОТРЕТЬ ВСЕ ФУНКЦИИ
                                  
        // TESTIMONIALS
        .testimonials.section-m-t
          .container
            .text-center
              h2.h2-title Отзывы клиентов сервиса
              .section-text Автоматизируйте свой отдел доставки, оптимизируйте расходы на логистику, вздохните спокойно и спите крепко. Всё остальное мы берем на себя.
            
            .owl-carousel__custom-nav(data-nav="owlTestimonials")
              i.ico.ico-owl-prev(data-control="prev")
              i.ico.ico-owl-next(data-control="next")
              
          .owl-carousel.owl--no-nav#owlTestimonials
            // card
            .testimonials__nav-item
              .testimonials__card
                .testimonials__card__image
                  img(src="images/testimonial.png")
                .testimonials__card__content
                  .testimonials__card__text Две вещи, которые меня интересуют в первую очередь на сайтах подобных сервисов — это география доставки (мы карту страны вобщем и в баннер можем сунуть), обычно такие сервисы работают только из Москвы и кто уже юзает этот сервис и отзывы людей.
                  .testimonials__card__author Александра Крестовоздвижническая, <span>Madrobot.ru</span>
            // card
            .testimonials__nav-item
              .testimonials__card
                .testimonials__card__image
                  img(src="images/testimonial.png")
                .testimonials__card__content
                  .testimonials__card__text Две вещи, которые меня интересуют в первую очередь на сайтах подобных сервисов — это география доставки (мы карту страны вобщем и в баннер можем сунуть), обычно такие сервисы работают только из Москвы и кто уже юзает этот сервис и отзывы людей.
                  .testimonials__card__author Александра Крестовоздвижническая, <span>Madrobot.ru</span>
            // card
            .testimonials__nav-item
              .testimonials__card
                .testimonials__card__image
                  img(src="images/testimonial.png")
                .testimonials__card__content
                  .testimonials__card__text Две вещи, которые меня интересуют в первую очередь на сайтах подобных сервисов — это география доставки (мы карту страны вобщем и в баннер можем сунуть), обычно такие сервисы работают только из Москвы и кто уже юзает этот сервис и отзывы людей.
                  .testimonials__card__author Александра Крестовоздвижническая, <span>Madrobot.ru</span>
                                                                                        
        // CLIENTS
        .clients.mt20.mt40--tablet
          .container
            .text-center
              h2.h2-title Кто уже подключен
              .section-text Автоматизируйте свой отдел доставки, оптимизируйте расходы на логистику, вздохните спокойно и спите крепко. Всё остальное мы берем на себя.
                
            .row.row--aic.row--wrap--tablet.mt45.mt20--tablet
              .col.col--1-4.col--3-6--tablet
                img(src="images/clientLogo_1.png")
              .col.col--1-4.col--3-6--tablet
                img(src="images/clientLogo_2.png")
              .col.col--1-4.col--3-6--tablet
                img(src="images/clientLogo_3.png")
              .col.col--1-4.col--3-6--tablet
                img(src="images/clientLogo_4.png")
                
                                              
      include shared/footer.pug
