
doctype html
html
  include shared/head.pug

  body
    .app.no-header-float
      
      include shared/header.pug
      
      .app__content
      
        .post.section-m-t
          .container
            .row
              .col.col--auto
                .white-shadow
                  .post__hero
                    img(src='images/blogPost.png')
                    .post__hero__info.p80-wrapper
                      .post__crumb новости
                      .post__title Заголовок новости второго уровня, потому что первый очень большой
                    
        // NEWS
        .news.news--multiple.section-m-t--small
          .container
            .row.row--wrap
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_1.png")
                  .news__card__content
                    .news__card__date 10 февраля
                    .news__card__title Мы подключили Деловые Линии, ЖелДорЭкспедицию и DHL
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_2.png")
                  .news__card__content
                    .news__card__date 28 января
                    .news__card__title Миграция на RocketAPI v 2.0  
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_3.png")
                  .news__card__content
                    .news__card__date 15 января
                    .news__card__title Неполадки устранены, работаем дальше
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_1.png")
                  .news__card__content
                    .news__card__date 10 февраля
                    .news__card__title Мы подключили Деловые Линии, ЖелДорЭкспедицию и DHL
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_2.png")
                  .news__card__content
                    .news__card__date 28 января
                    .news__card__title Миграция на RocketAPI v 2.0  
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_3.png")
                  .news__card__content
                    .news__card__date 15 января
                    .news__card__title Неполадки устранены, работаем дальше
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_1.png")
                  .news__card__content
                    .news__card__date 10 февраля
                    .news__card__title Мы подключили Деловые Линии, ЖелДорЭкспедицию и DHL
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_2.png")
                  .news__card__content
                    .news__card__date 28 января
                    .news__card__title Миграция на RocketAPI v 2.0  
              .col.col--2-6.col--3-6--tablet.col--full--450px
                a(href="#").news__card
                  .news__card__image
                    img(src="images/newsCard_3.png")
                  .news__card__content
                    .news__card__date 15 января
                    .news__card__title Неполадки устранены, работаем дальше
                                            
            
        // PAGINATION
        .pagination
          .container
            .row.row--aic.row--column--mobile
              .col.col--1-6
              .col.col--auto
                .text-center
                  ul.pagination__list
                    li.active
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') 6
              .col.col--1-6.text-right.mt30--mobile
                i.ico.ico-owl-next
                                          
      include shared/footer.pug
