doctype html
html
  include shared/head.pug

  body
    .app.no-header-float
      
      include shared/header.pug
      
      .app__content
      
        // STAND OUT BLOCK
        .section-m-t
          .container.container--0-mobile
            .row
              .col.col--auto
                .white-shadow.p80-wrapper
                  .row.row--aic.row--column-rev--mobile
                    .col.col--4-6
                      p.pl20--mobile Службы доставки
                      .info__title Почта России
                      .info__subtitle Доставляйте заказы вашим клиентам любыми удобными для них способами
                    .col.col--2-6
                      img(src='images/russianPost.png').img-fluid.img--100--mobile
                  
                  hr
                    
                  .row.mt40.row--column--tablet
                    .col.col--3-6.col--350--tablet
                      i.ico.ico-plus-blot
                      span.fz20.bold.ml10 Отрицательные стороны
                      ul.list-line
                        li Самая большая территория охвата.
                        li Отделение в каждом населенном пункте.
                        li Низкая стоимость доставки.
                        li Отправка наложенным платежом.

                    .col.col--3-6.col--350--tablet.mt40--tablet
                      i.ico.ico-minus-blot
                      span.fz20.bold.ml10 Отрицательные стороны
                      
                      ul.list-line
                        li Нужно заполнять кучу бланков.
                        li Очень сложно заключить договор.
                        li Высокий процент за наложенный платеж.
                        li Очень сложно разыскивать отправления.

        // INFO::START
        .mt40
          .container
            .row
              .col.col--auto
                .section-text Отправка заказов Почтой России это ключик к миллионам потенциальных клиентов по всей России!  Это единственная компания, у которой есть свое представительство почти в каждом населенном пункте нашей огромной страны. Плюс возможность отправки товаров с наложенным платежом. Но есть целый ряд трудностей, с которыми приходится сталкиваться при организации работы с Почтой России.  Мы предлагаем максимально упростить этот процесс.
              
                                
        
        // TABS
        .section-m-t--smaller
          .container
            .row
              .col.col--auto
                .text-center
                  h2.h2-title Возможности при работе с Почтой России
            
            .row.mt10
              .col.col--auto
                .white-shadow
                  .row.tab.row--column--tablet
                    .col.col--auto
                      .tab__title.active(data-tab='1') Личный кабинет 
                        span.label.label--red Бесплатно
                        
                    .col.col--auto
                      .tab__title(data-tab='2') RocketBee API
                  
                  .p50-wrapper
                    .tab__content.active(data-tab='1')
                      .row.row--column--tablet
                        .col.col--3-6
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Расчет стоимости, сроков доставки и наложенного платежа Почтой России с учетом ограничений
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Расчет стоимости, сроков доставки и наложенного платежа Почтой России с учетом ограничений
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Ускорение заполнения этикеток и бланков при помощи шаблонов
                        
                        .col.col--3-6
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Отслеживание отправлений по трекинг-номеру
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Ускорение расчета сроков и стоимости при помощи шаблонов
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Учет отправок через личный кабинет
                    // next tab
                    .tab__content(data-tab='2')
                      .row.row--column--tablet
                        .col.col--3-6
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        .col.col--3-6
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                          .row.row--no-col.row--ul.row--aic
                            i.ico.ico-checkmark-blot
                            span.fz14 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                  .yellow-bg
                    .row.row--no-col.row--ul.row--column--mobile.row--aic--mobile
                      i.ico.ico-rocket
                      .row__content.mt20--mobile
                        p.fz14.lh2.mt0 Для максимальной автоматизации работы с Почтой России мы предлагаем подключение к нашему сервису через API. Это платный сервис. Подключить его может как физическое, так и юридическое лицо. У нас нет абонентской платы вы платите только за оформленный заказ. Цена зависит от кол-ва обработанных заказов в течение месяца.
                        a(href='#').btn.btn--black Подключиться
                      
        
        // ADDITIONAL FEATURES :: START
        .section-m-t--smaller
          .container
            .row.text-center
              .col.col--auto
                h2.h2-title Дополнительные возможности
                p.lh2 При заключении с нами договора вам станут доступны дополнительные возможности автоматизации логистических процессов
            .row.line-features
              .col.col--auto
                .white-shadow
                  .line-feature
                    .line-feature__image.line-feature__image--red
                      img(src='images/lineFeature_1.png')
                    .line-feature__content
                      h3.h3-title Передача посылок без сопроводительных бланков
                      .section-text вы распечатываете и наклеиваете только небольшой ярлык со штрих-кодом на посылку и распечатываете перечень передаваемых посылок. Все остальные бланки сформируем и напечатаем для вас мы*
                // next feature
                .white-shadow
                  .line-feature.line-feature--reverse
                    .line-feature__image.line-feature__image--orange
                      img(src='images/lineFeature_2.png')
                    .line-feature__content
                      h3.h3-title Отправка посылок через единое окно
                      .section-text вы распечатываете и наклеиваете только небольшой ярлык со штрих-кодом на посылку и распечатываете перечень передаваемых посылок. Все остальные бланки сформируем и напечатаем для вас мы*
                // next feature
                .white-shadow
                  .line-feature
                    .line-feature__image.line-feature__image--blue
                      img(src='images/lineFeature_3.png')
                    .line-feature__content
                      h3.h3-title Забор отправлений с вашего склада
                      .section-text вы распечатываете и наклеиваете только небольшой ярлык со штрих-кодом на посылку и распечатываете перечень передаваемых посылок. Все остальные бланки сформируем и напечатаем для вас мы*
            .row
              .col.col--auto.text-center
                .intro__subitle.mt10 Стоимость данной услуги от 8 до 20 руб за 1 обработанный заказ в зависимости от количества заказов в месяц
                  
        // STAND OUT BLOCK
        .section-m-t--smaller
          .container
            .row
              .col.col--auto
                .white-shadow.p80-wrapper
                  .row.row--aic
                    .col.col--5-6.lh18.col--full--tablet
                      h2.h2-title Почему мы?
                      p Мы не навязываем вам свои платные опции и не предлагаем пакетных тарифных планов. Вы платите только за те функции, которые вам нужны.
 
                      p Мы знаем, что почти все интернет-магазины начинаются с единичных заказов в день. У нас оплата только за оформленный заказ. Мы работаем от 1 заказа. Работаем как с физическими, так и с юридическими лицами.

                      p Почти все наши конкуренты предлагают работать с ними по единому договору. Мы знаем, что у такой схемы есть существенные минусы, именно по этому мы предлагаем вам самим выбирать — работать напрямую с транспортными кампаниями по собственному договору и на собственных условиях или работать по договору с нами. В первом варианте мы просто сделаем все, чтобы упростить работу напрямую. Выбор транспортных компаний тоже за вами.

                      p Подключив наш сервис к корзине вашего сайта вы не ограничиваете себя только теми транспортными компаниями и видами доставки с которыми работает наш сервис. Вы совершенно бесплатно можете добавлять свои пункты самовывоза или своего курьера на своих условиях.  

                      p Мы поможем вам сформировать адресные ярлыки и бланки учета для облегчения работы с вашим курьером. 
        
      include shared/footer.pug
